/* 체크박스 숨기기 */
#toggle {
  display: none;
}

/* 기본 상태: 숨김 */
.content {
  display: none;
  padding: 10px;
  background: white;
  border-radius: 6px;
  margin-top: 8px;
  width: 840px;
  border-radius: 19px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.03);
}

/* 체크박스가 체크되었을 때만 보이게 */
#toggle:checked + label + .content {
  display: block;
}

/* label 스타일 */
label {
  cursor: pointer;
  color: #1b4dff;
  font-weight: bold;
  border-bottom: 4px solid #1b4dff;
}
